# **An Implementation of Logistic Regression using the Titanic Dataset**

### Importing required libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

### Load the dataset

In [ ]:
df_train = pd.read_csv('/content/Titanic_ISTE.csv')

In [ ]:
df_train.head()

   PassengerId  Survived  Pclass  ... Unnamed: 15 Unnamed: 16  Unnamed: 17
0            1       0.0     3.0  ...         NaN         NaN          NaN
1            2       1.0     1.0  ...         NaN         NaN          NaN
2            3       1.0     3.0  ...         NaN         NaN          NaN
3            4       1.0     1.0  ...         NaN         NaN          NaN
4            5       0.0     3.0  ...         NaN         NaN          NaN

[5 rows x 18 columns]

In [ ]:
df_train.describe()

       PassengerId    Survived  ...  Unnamed: 16  Unnamed: 17
count   891.000000  889.000000  ...          0.0          1.0
mean    446.000000    0.382452  ...          NaN          0.0
std     257.353842    0.486260  ...          NaN          NaN
min       1.000000    0.000000  ...          NaN          0.0
25%     223.500000    0.000000  ...          NaN          0.0
50%     446.000000    0.000000  ...          NaN          0.0
75%     668.500000    1.000000  ...          NaN          0.0
max     891.000000    1.000000  ...          NaN          0.0

[8 rows x 13 columns]

### Preprocessing the data

In [ ]:
df_train.isna().sum()

PassengerId      0
Survived         2
Pclass           1
Name             0
Sex             10
Age            179
SibSp            1
Parch            2
Ticket           0
Fare             0
Cabin          687
Embarked         2
Unnamed: 12    891
Unnamed: 13    891
Unnamed: 14    891
Unnamed: 15    891
Unnamed: 16    891
Unnamed: 17    890
dtype: int64

In [ ]:
# drop rows with missing target/categorical values
df_train.dropna(subset=['Survived', 'Embarked'], inplace=True, how='any')
df_train = pd.get_dummies(data = df_train, columns = ['Sex'], dummy_na=True)
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           1
Name             0
Age            179
SibSp            1
Parch            2
Ticket           0
Fare             0
Cabin          685
Embarked         0
Unnamed: 12    887
Unnamed: 13    887
Unnamed: 14    887
Unnamed: 15    887
Unnamed: 16    887
Unnamed: 17    886
Sex_female       0
Sex_male         0
Sex_nan          0
dtype: int64

In [ ]:
# separate target column
Y_train = df_train['Survived']

In [ ]:
# remove columns with maximum NaN values and maximum unique categorical values

columns = ["Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16", 
        "Name","Ticket", "Cabin", "Unnamed: 17"]
df_train.drop(columns, axis=1, inplace = True)
df_train.replace([np.inf, -np.inf], np.nan, inplace=True)
X = df_train.loc[:, df_train.columns!='Survived']

In [ ]:
X.nunique()

PassengerId    887
Pclass           3
Age             88
SibSp            7
Parch            7
Fare           247
Embarked         3
Sex_female       2
Sex_male         2
Sex_nan          2
dtype: int64

In [ ]:
X.head()

   PassengerId  Pclass   Age  SibSp  ...  Embarked  Sex_female Sex_male  Sex_nan
0            1     3.0  22.0    1.0  ...         S           0        1        0
1            2     1.0  38.0    1.0  ...         C           1        0        0
2            3     3.0  26.0    0.0  ...         S           1        0        0
3            4     1.0  35.0    1.0  ...         S           1        0        0
4            5     3.0  35.0    0.0  ...         S           0        1        0

[5 rows x 10 columns]

In [ ]:
X.isna().sum()

PassengerId      0
Pclass           1
Age            179
SibSp            1
Parch            2
Fare             0
Embarked         0
Sex_female       0
Sex_male         0
Sex_nan          0
dtype: int64

In [ ]:
from sklearn.preprocessing import OneHotEncoder

# select categorical columns for OneHotEncoding
s = (X.dtypes == 'object')
object_cols = list(s[s].index)

In [ ]:
from sklearn.model_selection import train_test_split
X, X_valid, Y_train, y_valid = train_test_split(X, Y_train, train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [ ]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(X[object_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols]))

# one-hot encoding removed index, put it back
OH_cols.index = X.index
OH_cols_valid.index = X_valid.index

# remove categorical columns 
num_X = X.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)

# add one-hot encoded columns to numerical features
OH_X = pd.concat([num_X, OH_cols], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

In [ ]:
X = OH_X
X_valid = OH_X_valid

In [ ]:
# normalizing data to improve KNN performance
X_normalized = scale(X)
X_train_try=pd.DataFrame(data=X_normalized,columns=X.columns)
X_valid_normalized=scale(X_valid)
X_train_try.head()

   PassengerId    Pclass       Age  ...         0         1         2
0    -0.298167  0.843671  0.041596  ... -0.467133 -0.304056  0.598529
1    -0.715153 -1.548979  0.041596  ... -0.467133 -0.304056  0.598529
2     0.138124  0.843671 -0.515443  ... -0.467133 -0.304056  0.598529
3    -0.653378 -1.548979  0.529005  ...  2.140719 -0.304056 -1.670761
4     0.435420 -1.548979  2.269752  ... -0.467133 -0.304056  0.598529

[5 rows x 12 columns]

In [ ]:
# imputing missing values

X_filled=KNNImputer(n_neighbors=7).fit_transform(X_train_try)
X_filled=pd.DataFrame(data=X_filled,columns=X.columns)

X_valid_filled=KNNImputer(n_neighbors=7).fit_transform(X_valid_normalized)
X_valid_filled=pd.DataFrame(data=X_valid_filled,columns=X_valid.columns)

In [ ]:
X_filled.columns=X.columns
X_valid_filled.columns=X_valid.columns
X_filled.head()

   PassengerId    Pclass       Age  ...         0         1         2
0    -0.298167  0.843671  0.041596  ... -0.467133 -0.304056  0.598529
1    -0.715153 -1.548979  0.041596  ... -0.467133 -0.304056  0.598529
2     0.138124  0.843671 -0.515443  ... -0.467133 -0.304056  0.598529
3    -0.653378 -1.548979  0.529005  ...  2.140719 -0.304056 -1.670761
4     0.435420 -1.548979  2.269752  ... -0.467133 -0.304056  0.598529

[5 rows x 12 columns]

In [ ]:
# checking if all null values are removed
X_filled.isnull().sum()
X_valid_filled.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
Sex_female     0
Sex_male       0
Sex_nan        0
0              0
1              0
2              0
dtype: int64

### Implementation of Gradient Descent Algorithm

In [ ]:
# sigmoid activation function
def sigmoid(x):
    return 1/(1 + np.exp(-x))

In [ ]:
# cost function for gradient descent
def cost_function(theta,X, y, r):

    m, n = X.shape
    h = sigmoid(np.dot(X, theta))
    J = (-1/m) * (np.dot(y.T, np.log(h)) + np.dot((1 - y).T, np.log(1-h))) + (r * np.sum(theta))

    return J[0].astype(float).item()

In [ ]:
# implementation of gradient descent 

def grad(X, y, theta, alpha, num_iters, r):
    # r - L1 regularization term
    costs = []
    # m - number of samples
    m = X.shape[0]
    
    for i in range(0, num_iters):
        
        z = np.dot(X, theta)
        
        h = sigmoid(z)
        costs.append(cost_function(theta, X, y, r))
        print(f"Iteration {i+1}: Cost {costs[i]}")
        theta = theta - ((alpha / m) * np.dot(X.T, h - y))
        

    return  theta

In [ ]:
X = X_filled
np.random.seed(1)
m = X.shape[0]
n = X.shape[1]

theta = np.zeros((n,1))
Y_train = Y_train.to_numpy().reshape(-1,1)
# find optimum values for theta using gradient descent
theta = (grad(X, (Y_train), theta, 0.1, 500, 0.1))

# calculate cost using optimum theta values
J = cost_function(theta, X, Y_train, 0.1)
# J.shape
print(f"The cost after training in 500 iterations is {J}.")

Iteration 1: Cost 0.6931471805599452
Iteration 2: Cost 0.6743175393153248
Iteration 3: Cost 0.6574088253242057
Iteration 4: Cost 0.6421899197859928
Iteration 5: Cost 0.6284543655972562
Iteration 6: Cost 0.6160197865262763
Iteration 7: Cost 0.6047263680718211
Iteration 8: Cost 0.5944348313804512
Iteration 9: Cost 0.5850242123123561
Iteration 10: Cost 0.5763896495652837
Iteration 11: Cost 0.5684403016645329
Iteration 12: Cost 0.5610974535805787
Iteration 13: Cost 0.5542928354638179
Iteration 14: Cost 0.547967152983765
Iteration 15: Cost 0.54206881613084
Iteration 16: Cost 0.5365528473425167
Iteration 17: Cost 0.5313799478327879
Iteration 18: Cost 0.5265157013036994
Iteration 19: Cost 0.5219298957065172
Iteration 20: Cost 0.5175959457345716
Iteration 21: Cost 0.5134904008852439
Iteration 22: Cost 0.5095925260145553
Iteration 23: Cost 0.5058839432200658
Iteration 24: Cost 0.502348325584201
Iteration 25: Cost 0.4989711347836607
Iteration 26: Cost 0.4957393958327345
Iteration 27: Cost 0.4926415032993401
Iteration 28: Cost 0.4896670542356432
Iteration 29: Cost 0.48680670382342595
Iteration 30: Cost 0.4840520403694987
Iteration 31: Cost 0.4813954768176712
Iteration 32: Cost 0.4788301563878699
Iteration 33: Cost 0.4763498703242439
Iteration 34: Cost 0.4739489860446716
Iteration 35: Cost 0.4716223842441394
Iteration 36: Cost 0.4693654037224999
Iteration 37: Cost 0.4671737928901971
Iteration 38: Cost 0.46504366705952216
Iteration 39: Cost 0.46297147075870115
Iteration 40: Cost 0.46095394441562376
Iteration 41: Cost 0.45898809485064607
Iteration 42: Cost 0.45707116909638507
Iteration 43: Cost 0.45520063112907216
Iteration 44: Cost 0.45337414115273744
Iteration 45: Cost 0.4515895371258421
Iteration 46: Cost 0.4498448182612757
Iteration 47: Cost 0.44813813026599203
Iteration 48: Cost 0.4464677521168737
Iteration 49: Cost 0.44483208419548204
Iteration 50: Cost 0.44322963762677947
Iteration 51: Cost 0.44165902468627594
Iteration 52: Cost 0.4401189501567795
Iteration 53: Cost 0.43860820353041857
Iteration 54: Cost 0.4371256519641765
Iteration 55: Cost 0.4356702339080974
Iteration 56: Cost 0.4342409533348375
Iteration 57: Cost 0.4328368745075252
Iteration 58: Cost 0.43145711723013996
Iteration 59: Cost 0.4301008525309592
Iteration 60: Cost 0.42876729873517844
Iteration 61: Cost 0.427455717887685
Iteration 62: Cost 0.42616541249125534
Iteration 63: Cost 0.4248957225292188
Iteration 64: Cost 0.42364602274496344
Iteration 65: Cost 0.4224157201535921
Iteration 66: Cost 0.4212042517636434
Iteration 67: Cost 0.4200110824890912
Iteration 68: Cost 0.4188357032338754
Iteration 69: Cost 0.4176776291330323
Iteration 70: Cost 0.4165363979361029
Iteration 71: Cost 0.4154115685199301
Iteration 72: Cost 0.4143027195192366
Iteration 73: Cost 0.41320944806451354
Iteration 74: Cost 0.41213136861776983
Iteration 75: Cost 0.4110681118976047
Iteration 76: Cost 0.41001932388587775
Iteration 77: Cost 0.4089846649089879
Iteration 78: Cost 0.4079638087874241
Iteration 79: Cost 0.40695644204784315
Iteration 80: Cost 0.40596226319245676
Iteration 81: Cost 0.4049809820209929
Iteration 82: Cost 0.40401231900091716
Iteration 83: Cost 0.40305600468199776
Iteration 84: Cost 0.40211177915163965
Iteration 85: Cost 0.40117939152773224
Iteration 86: Cost 0.40025859948604203
Iteration 87: Cost 0.399349168819437
Iteration 88: Cost 0.3984508730264686
Iteration 89: Cost 0.3975634929270434
Iteration 90: Cost 0.39668681630311353
Iteration 91: Cost 0.39582063756248925
Iteration 92: Cost 0.39496475742403503
Iteration 93: Cost 0.394118982622654
Iteration 94: Cost 0.3932831256326005
Iteration 95: Cost 0.3924570044077771
Iteration 96: Cost 0.39164044213778215
Iteration 97: Cost 0.3908332670185749
Iteration 98: Cost 0.39003531203671465
Iteration 99: Cost 0.3892464147662144
Iteration 100: Cost 0.38846641717712355
Iteration 101: Cost 0.38769516545502597
Iteration 102: Cost 0.3869325098307004
Iteration 103: Cost 0.38617830441925094
Iteration 104: Cost 0.3854324070680669
Iteration 105: Cost 0.3846946792130199
Iteration 106: Cost 0.3839649857423515
Iteration 107: Cost 0.3832431948677465
Iteration 108: Cost 0.3825291780021226
Iteration 109: Cost 0.38182280964370274
Iteration 110: Cost 0.3811239672659699
Iteration 111: Cost 0.38043253121313103
Iteration 112: Cost 0.379748384600744
Iteration 113: Cost 0.37907141322118854
Iteration 114: Cost 0.3784015054536819
Iteration 115: Cost 0.37773855217856345
Iteration 116: Cost 0.3770824466955911
Iteration 117: Cost 0.3764330846460092
Iteration 118: Cost 0.3757903639381668
Iteration 119: Cost 0.37515418467647704
Iteration 120: Cost 0.3745244490935261
Iteration 121: Cost 0.3739010614851501
Iteration 122: Cost 0.37328392814831357
Iteration 123: Cost 0.3726729573216295
Iteration 124: Cost 0.37206805912837915
Iteration 125: Cost 0.3714691455218894
Iteration 126: Cost 0.3708761302331446
Iteration 127: Cost 0.370288928720509
Iteration 128: Cost 0.36970745812145084
Iteration 129: Cost 0.369131637206161
Iteration 130: Cost 0.3685613863329694
Iteration 131: Cost 0.3679966274054661
Iteration 132: Cost 0.36743728383124025
Iteration 133: Cost 0.36688328048215735
Iteration 134: Cost 0.3663345436560963
Iteration 135: Cost 0.3657910010400778
Iteration 136: Cost 0.36525258167471214
Iteration 137: Cost 0.3647192159199081
Iteration 138: Cost 0.36419083542177955
Iteration 139: Cost 0.3636673730806964
Iteration 140: Cost 0.3631487630204243
Iteration 141: Cost 0.3626349405583054
Iteration 142: Cost 0.3621258421764322
Iteration 143: Cost 0.36162140549377075
Iteration 144: Cost 0.36112156923918964
Iteration 145: Cost 0.36062627322535773
Iteration 146: Cost 0.36013545832347166
Iteration 147: Cost 0.35964906643877664
Iteration 148: Cost 0.35916704048684966
Iteration 149: Cost 0.3586893243706122
Iteration 150: Cost 0.3582158629580404
Iteration 151: Cost 0.35774660206054953
Iteration 152: Cost 0.3572814884120178
Iteration 153: Cost 0.3568204696484324
Iteration 154: Cost 0.3563634942881269
Iteration 155: Cost 0.35591051171259136
Iteration 156: Cost 0.3554614721478289
Iteration 157: Cost 0.3550163266462428
Iteration 158: Cost 0.35457502706902944
Iteration 159: Cost 0.354137526069062
Iteration 160: Cost 0.35370377707424494
Iteration 161: Cost 0.3532737342713215
Iteration 162: Cost 0.35284735259012057
Iteration 163: Cost 0.35242458768822427
Iteration 164: Cost 0.3520053959360434
Iteration 165: Cost 0.35158973440228547
Iteration 166: Cost 0.3511775608398029
Iteration 167: Cost 0.3507688336718062
Iteration 168: Cost 0.350363511978434
Iteration 169: Cost 0.3499615554836616
Iteration 170: Cost 0.349562924542543
Iteration 171: Cost 0.34916758012877314
Iteration 172: Cost 0.3487754838225575
Iteration 173: Cost 0.34838659779878367
Iteration 174: Cost 0.34800088481548186
Iteration 175: Cost 0.34761830820256656
Iteration 176: Cost 0.3472388318508507
Iteration 177: Cost 0.3468624202013229
Iteration 178: Cost 0.3464890382346808
Iteration 179: Cost 0.3461186514611124
Iteration 180: Cost 0.34575122591031754
Iteration 181: Cost 0.34538672812176197
Iteration 182: Cost 0.3450251251351593
Iteration 183: Cost 0.3446663844811708
Iteration 184: Cost 0.3443104741723194
Iteration 185: Cost 0.3439573626941108
Iteration 186: Cost 0.34360701899635515
Iteration 187: Cost 0.34325941248468506
Iteration 188: Cost 0.34291451301226183
Iteration 189: Cost 0.3425722908716686
Iteration 190: Cost 0.3422327167869813
Iteration 191: Cost 0.3418957619060137
Iteration 192: Cost 0.34156139779273476
Iteration 193: Cost 0.3412295964198477
Iteration 194: Cost 0.34090033016153254
Iteration 195: Cost 0.3405735717863436
Iteration 196: Cost 0.34024929445025953
Iteration 197: Cost 0.3399274716898816
Iteration 198: Cost 0.3396080774157765
Iteration 199: Cost 0.33929108590595924
Iteration 200: Cost 0.33897647179951357
Iteration 201: Cost 0.3386642100903454
Iteration 202: Cost 0.3383542761210663
Iteration 203: Cost 0.33804664557700437
Iteration 204: Cost 0.33774129448033663
Iteration 205: Cost 0.33743819918434503
Iteration 206: Cost 0.3371373363677872
Iteration 207: Cost 0.33683868302938247
Iteration 208: Cost 0.3365422164824108
Iteration 209: Cost 0.3362479143494185
Iteration 210: Cost 0.3359557545570325
Iteration 211: Cost 0.3356657153308768
Iteration 212: Cost 0.3353777751905912
Iteration 213: Cost 0.3350919129449479
Iteration 214: Cost 0.3348081076870659
Iteration 215: Cost 0.3345263387897185
Iteration 216: Cost 0.334246585900733
Iteration 217: Cost 0.3339688289384804
Iteration 218: Cost 0.33369304808745415
Iteration 219: Cost 0.33341922379393163
Iteration 220: Cost 0.3331473367617221
Iteration 221: Cost 0.33287736794799555
Iteration 222: Cost 0.33260929855919097
Iteration 223: Cost 0.332343110047004
Iteration 224: Cost 0.3320787841044498
Iteration 225: Cost 0.33181630266200085
Iteration 226: Cost 0.33155564788379865
Iteration 227: Cost 0.33129680216393526
Iteration 228: Cost 0.3310397481228061
Iteration 229: Cost 0.3307844686035297
Iteration 230: Cost 0.3305309466684355
Iteration 231: Cost 0.33027916559561526
Iteration 232: Cost 0.33002910887554066
Iteration 233: Cost 0.32978076020774094
Iteration 234: Cost 0.32953410349754275
Iteration 235: Cost 0.3292891228528706
Iteration 236: Cost 0.32904580258110394
Iteration 237: Cost 0.32880412718599383
Iteration 238: Cost 0.3285640813646327
Iteration 239: Cost 0.32832565000448255
Iteration 240: Cost 0.3280888181804534
Iteration 241: Cost 0.3278535711520373
Iteration 242: Cost 0.3276198943604909
Iteration 243: Cost 0.3273877734260713
Iteration 244: Cost 0.32715719414531896
Iteration 245: Cost 0.3269281424883904
Iteration 246: Cost 0.3267006045964371
Iteration 247: Cost 0.32647456677903186
Iteration 248: Cost 0.32625001551164023
Iteration 249: Cost 0.326026937433135
Iteration 250: Cost 0.32580531934335716
Iteration 251: Cost 0.32558514820071693
Iteration 252: Cost 0.3253664111198375
Iteration 253: Cost 0.3251490953692402
Iteration 254: Cost 0.3249331883690695
Iteration 255: Cost 0.32471867768885687
Iteration 256: Cost 0.3245055510453243
Iteration 257: Cost 0.3242937963002244
Iteration 258: Cost 0.3240834014582189
Iteration 259: Cost 0.32387435466479136
Iteration 260: Cost 0.32366664420419905
Iteration 261: Cost 0.3234602584974554
Iteration 262: Cost 0.32325518610035
Iteration 263: Cost 0.32305141570150075
Iteration 264: Cost 0.3228489361204393
Iteration 265: Cost 0.32264773630572813
Iteration 266: Cost 0.3224478053331108
Iteration 267: Cost 0.3222491324036908
Iteration 268: Cost 0.3220517068421437
Iteration 269: Cost 0.3218555180949566
Iteration 270: Cost 0.32166055572869845
Iteration 271: Cost 0.32146680942831896
Iteration 272: Cost 0.3212742689954746
Iteration 273: Cost 0.32108292434688335
Iteration 274: Cost 0.3208927655127068
Iteration 275: Cost 0.32070378263495736
Iteration 276: Cost 0.3205159659659331
Iteration 277: Cost 0.3203293058666778
Iteration 278: Cost 0.32014379280546523
Iteration 279: Cost 0.3199594173563099
Iteration 280: Cost 0.3197761701975002
Iteration 281: Cost 0.31959404211015663
Iteration 282: Cost 0.3194130239768127
Iteration 283: Cost 0.3192331067800185
Iteration 284: Cost 0.319054281600968
Iteration 285: Cost 0.31887653961814677
Iteration 286: Cost 0.3186998721060027
Iteration 287: Cost 0.318524270433637
Iteration 288: Cost 0.31834972606351725
Iteration 289: Cost 0.31817623055020905
Iteration 290: Cost 0.31800377553913045
Iteration 291: Cost 0.31783235276532373
Iteration 292: Cost 0.31766195405224784
Iteration 293: Cost 0.3174925713105895
Iteration 294: Cost 0.3173241965370934
Iteration 295: Cost 0.3171568218134107
Iteration 296: Cost 0.31699043930496473
Iteration 297: Cost 0.31682504125983596
Iteration 298: Cost 0.31666062000766293
Iteration 299: Cost 0.3164971679585614
Iteration 300: Cost 0.3163346776020596
Iteration 301: Cost 0.31617314150605
Iteration 302: Cost 0.3160125523157586
Iteration 303: Cost 0.3158529027527277
Iteration 304: Cost 0.31569418561381674
Iteration 305: Cost 0.3155363937702171
Iteration 306: Cost 0.3153795201664827
Iteration 307: Cost 0.3152235578195749
Iteration 308: Cost 0.31506849981792306
Iteration 309: Cost 0.31491433932049734
Iteration 310: Cost 0.31476106955589844
Iteration 311: Cost 0.31460868382145857
Iteration 312: Cost 0.31445717548235813
Iteration 313: Cost 0.31430653797075403
Iteration 314: Cost 0.3141567647849224
Iteration 315: Cost 0.31400784948841365
Iteration 316: Cost 0.31385978570922046
Iteration 317: Cost 0.3137125671389581
Iteration 318: Cost 0.31356618753205734
Iteration 319: Cost 0.31342064070496845
Iteration 320: Cost 0.3132759205353791
Iteration 321: Cost 0.3131320209614413
Iteration 322: Cost 0.3129889359810124
Iteration 323: Cost 0.3128466596509051
Iteration 324: Cost 0.31270518608615017
Iteration 325: Cost 0.31256450945926917
Iteration 326: Cost 0.31242462399955856
Iteration 327: Cost 0.3122855239923837
Iteration 328: Cost 0.3121472037784835
Iteration 329: Cost 0.3120096577532858
Iteration 330: Cost 0.31187288036623106
Iteration 331: Cost 0.3117368661201088
Iteration 332: Cost 0.3116016095704005
Iteration 333: Cost 0.3114671053246343
Iteration 334: Cost 0.3113333480417486
Iteration 335: Cost 0.3112003324314637
Iteration 336: Cost 0.31106805325366504
Iteration 337: Cost 0.3109365053177918
Iteration 338: Cost 0.31080568348223814
Iteration 339: Cost 0.31067558265375966
Iteration 340: Cost 0.3105461977868912
Iteration 341: Cost 0.31041752388337074
Iteration 342: Cost 0.31028955599157326
Iteration 343: Cost 0.31016228920595124
Iteration 344: Cost 0.31003571866648405
Iteration 345: Cost 0.30990983955813534
Iteration 346: Cost 0.30978464711031706
Iteration 347: Cost 0.3096601365963624
Iteration 348: Cost 0.30953630333300464
Iteration 349: Cost 0.30941314267986525
Iteration 350: Cost 0.3092906500389474
Iteration 351: Cost 0.3091688208541379
Iteration 352: Cost 0.3090476506107149
Iteration 353: Cost 0.30892713483486395
Iteration 354: Cost 0.3088072690932
Iteration 355: Cost 0.30868804899229535
Iteration 356: Cost 0.3085694701782159
Iteration 357: Cost 0.3084515283360625
Iteration 358: Cost 0.3083342191895184
Iteration 359: Cost 0.30821753850040523
Iteration 360: Cost 0.308101482068242
Iteration 361: Cost 0.3079860457298126
Iteration 362: Cost 0.3078712253587381
Iteration 363: Cost 0.30775701686505486
Iteration 364: Cost 0.3076434161947993
Iteration 365: Cost 0.3075304193295979
Iteration 366: Cost 0.3074180222862617
Iteration 367: Cost 0.3073062211163889
Iteration 368: Cost 0.30719501190597015
Iteration 369: Cost 0.30708439077500116
Iteration 370: Cost 0.3069743538770987
Iteration 371: Cost 0.30686489739912454
Iteration 372: Cost 0.3067560175608115
Iteration 373: Cost 0.3066477106143961
Iteration 374: Cost 0.30653997284425705
Iteration 375: Cost 0.3064328005665556
Iteration 376: Cost 0.3063261901288843
Iteration 377: Cost 0.3062201379099182
Iteration 378: Cost 0.30611464031907065
Iteration 379: Cost 0.30600969379615567
Iteration 380: Cost 0.3059052948110519
Iteration 381: Cost 0.30580143986337427
Iteration 382: Cost 0.30569812548214714
Iteration 383: Cost 0.3055953482254834
Iteration 384: Cost 0.3054931046802674
Iteration 385: Cost 0.30539139146184213
Iteration 386: Cost 0.3052902052137004
Iteration 387: Cost 0.30518954260718045
Iteration 388: Cost 0.3050894003411645
Iteration 389: Cost 0.30498977514178277
Iteration 390: Cost 0.3048906637621203
Iteration 391: Cost 0.304792062981928
Iteration 392: Cost 0.304693969607337
Iteration 393: Cost 0.3045963804705778
Iteration 394: Cost 0.30449929242970186
Iteration 395: Cost 0.3044027023683069
Iteration 396: Cost 0.30430660719526736
Iteration 397: Cost 0.3042110038444657
Iteration 398: Cost 0.3041158892745298
Iteration 399: Cost 0.3040212604685718
Iteration 400: Cost 0.30392711443393106
Iteration 401: Cost 0.3038334482019207
Iteration 402: Cost 0.303740258827577
Iteration 403: Cost 0.3036475433894117
Iteration 404: Cost 0.3035552989891683
Iteration 405: Cost 0.3034635227515805
Iteration 406: Cost 0.30337221182413454
Iteration 407: Cost 0.3032813633768341
Iteration 408: Cost 0.3031909746019683
Iteration 409: Cost 0.3031010427138824
Iteration 410: Cost 0.3030115649487516
Iteration 411: Cost 0.30292253856435825
Iteration 412: Cost 0.3028339608398704
Iteration 413: Cost 0.30274582907562464
Iteration 414: Cost 0.30265814059291074
Iteration 415: Cost 0.30257089273375937
Iteration 416: Cost 0.30248408286073236
Iteration 417: Cost 0.30239770835671564
Iteration 418: Cost 0.3023117666247142
Iteration 419: Cost 0.30222625508765105
Iteration 420: Cost 0.30214117118816664
Iteration 421: Cost 0.3020565123884223
Iteration 422: Cost 0.30197227616990574
Iteration 423: Cost 0.3018884600332385
Iteration 424: Cost 0.30180506149798636
Iteration 425: Cost 0.3017220781024711
Iteration 426: Cost 0.3016395074035867
Iteration 427: Cost 0.3015573469766144
Iteration 428: Cost 0.301475594415044
Iteration 429: Cost 0.3013942473303932
Iteration 430: Cost 0.301313303352033
Iteration 431: Cost 0.30123276012701244
Iteration 432: Cost 0.30115261531988674
Iteration 433: Cost 0.30107286661254695
Iteration 434: Cost 0.30099351170405225
Iteration 435: Cost 0.30091454831046416
Iteration 436: Cost 0.30083597416468166
Iteration 437: Cost 0.3007577870162802
Iteration 438: Cost 0.30067998463135065
Iteration 439: Cost 0.3006025647923419
Iteration 440: Cost 0.3005255252979038
Iteration 441: Cost 0.30044886396273335
Iteration 442: Cost 0.3003725786174216
Iteration 443: Cost 0.30029666710830305
Iteration 444: Cost 0.3002211272973067
Iteration 445: Cost 0.3001459570618086
Iteration 446: Cost 0.30007115429448605
Iteration 447: Cost 0.2999967169031746
Iteration 448: Cost 0.2999226428107251
Iteration 449: Cost 0.2998489299548632
Iteration 450: Cost 0.29977557628805157
Iteration 451: Cost 0.29970257977735104
Iteration 452: Cost 0.29962993840428653
Iteration 453: Cost 0.29955765016471164
Iteration 454: Cost 0.2994857130686775
Iteration 455: Cost 0.2994141251403008
Iteration 456: Cost 0.2993428844176344
Iteration 457: Cost 0.29927198895254026
Iteration 458: Cost 0.29920143681056166
Iteration 459: Cost 0.29913122607079945
Iteration 460: Cost 0.29906135482578716
Iteration 461: Cost 0.29899182118137035
Iteration 462: Cost 0.29892262325658403
Iteration 463: Cost 0.29885375918353446
Iteration 464: Cost 0.29878522710728145
Iteration 465: Cost 0.2987170251857199
Iteration 466: Cost 0.29864915158946603
Iteration 467: Cost 0.29858160450174287
Iteration 468: Cost 0.29851438211826703
Iteration 469: Cost 0.2984474826471372
Iteration 470: Cost 0.298380904308725
Iteration 471: Cost 0.29831464533556384
Iteration 472: Cost 0.29824870397224323
Iteration 473: Cost 0.29818307847530057
Iteration 474: Cost 0.29811776711311677
Iteration 475: Cost 0.2980527681658114
Iteration 476: Cost 0.29798807992513954
Iteration 477: Cost 0.29792370069439045
Iteration 478: Cost 0.29785962878828587
Iteration 479: Cost 0.29779586253288104
Iteration 480: Cost 0.2977324002654656
Iteration 481: Cost 0.29766924033446607
Iteration 482: Cost 0.2976063810993499
Iteration 483: Cost 0.2975438209305291
Iteration 484: Cost 0.29748155820926714
Iteration 485: Cost 0.2974195913275842
Iteration 486: Cost 0.2973579186881662
Iteration 487: Cost 0.29729653870427186
Iteration 488: Cost 0.29723544979964456
Iteration 489: Cost 0.2971746504084206
Iteration 490: Cost 0.2971141389750427
Iteration 491: Cost 0.29705391395417113
Iteration 492: Cost 0.29699397381059844
Iteration 493: Cost 0.29693431701916295
Iteration 494: Cost 0.2968749420646646
Iteration 495: Cost 0.2968158474417809
Iteration 496: Cost 0.2967570316549846
Iteration 497: Cost 0.2966984932184606
Iteration 498: Cost 0.2966402306560262
Iteration 499: Cost 0.2965822425010499
Iteration 500: Cost 0.29652452729637224
The cost after training in 500 iterations is 0.2964670835942275.

### Predicting on Validation Set

In [ ]:
X_valid = X_valid_filled
y_valid = y_valid.to_numpy().reshape(-1,1)

In [ ]:
# predict for validation set
def predict( X ) :    
        Z =  1/(1 + np.exp(-(np.dot(X, theta))))     
        Y = np.where( Z > 0.5, 1, 0 )        
        return Y

In [ ]:
Y_pred = predict(X_valid )    
# counts correctly classifed entries
correctly_classified = 0    

# counter    
count = 0    
for count in range( np.size( Y_pred ) ) :  
    if y_valid[count] == Y_pred[count] :            
        correctly_classified += 1
    count += 1

print( "Accuracy on validation set:  ", ( correctly_classified / count ) * 100 )

Accuracy on validation set:   79.7752808988764