In [1]:
# importing required libraries
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale

In [2]:
# load the dataset
df_train = pd.read_csv('Titanic_ISTE.csv')

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,1,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
count,891.000000,889.000000,890.000000,712.000000,890.000000,889.000000,891.000000,0.0,0.0,0.0,0.0,0.0,1.0
mean,446.000000,0.382452,2.307865,29.675801,0.517978,0.381327,32.204208,NaN,NaN,NaN,NaN,NaN,0.0
std,257.353842,0.486260,0.836220,14.530556,1.093087,0.806596,49.693429,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.0
25%,223.500000,0.000000,2.000000,20.000000,0.000000,0.000000,7.910400,NaN,NaN,NaN,NaN,NaN,0.0
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,NaN,NaN,NaN,NaN,NaN,0.0
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,NaN,NaN,NaN,NaN,NaN,0.0
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
# check which columns have null values
df_train.isna().sum()

PassengerId      0
Survived         2
Pclass           1
Name             0
Sex             10
Age            179
SibSp            1
Parch            2
Ticket           0
Fare             0
Cabin          687
Embarked         2
Unnamed: 12    891
Unnamed: 13    891
Unnamed: 14    891
Unnamed: 15    891
Unnamed: 16    891
Unnamed: 17    890
dtype: int64

In [6]:
# drop rows with missing target values
df_train.dropna(axis = 0, subset=['Survived'], inplace=True, how='all')

In [7]:
df_train.shape

(889, 18)

In [8]:
# separate target column
Y_train = df_train['Survived']
Y_train = Y_train.to_numpy()

In [9]:
X = df_train.loc[:, df_train.columns!='Survived']

In [10]:
X.nunique()

PassengerId    889
Pclass           3
Name           889
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         680
Fare           248
Cabin          147
Embarked         3
Unnamed: 12      0
Unnamed: 13      0
Unnamed: 14      0
Unnamed: 15      0
Unnamed: 16      0
Unnamed: 17      1
dtype: int64

In [11]:
# remove columns with maximum NaN values and maximum unique categorical values
X = pd.get_dummies(data = X, columns = ["Unnamed: 12", "Unnamed: 13",
                                       "Unnamed: 14", "Unnamed: 15",
                                       "Unnamed: 16"], 
                  dummy_na = True, drop_first = True)
X.replace([np.inf, -np.inf], np.nan, inplace=True)
X.drop([ "Name","Ticket", "Cabin", "Unnamed: 17"], inplace=True, axis = 1)

In [12]:
X.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1     3.0    male  22.0    1.0    0.0   7.2500        S
1            2     1.0  female  38.0    1.0    0.0  71.2833        C
2            3     3.0  female  26.0    0.0    0.0   7.9250        S
3            4     1.0  female  35.0    1.0    0.0  53.1000        S
4            5     3.0    male  35.0    0.0    0.0   8.0500        S

In [13]:
X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   889.000000  888.000000  710.000000  888.000000  887.000000  889.000000
mean    446.048369    2.306306   29.684746    0.515766    0.382187   32.250698
std     257.140151    0.836515   14.545959    1.091000    0.807302   49.739249
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     224.000000    2.000000   20.125000    0.000000    0.000000    7.925000
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [14]:
from sklearn.preprocessing import OneHotEncoder

# select categorical columns for OneHotEncoding
s = (X.dtypes == 'object')
object_cols = list(s[s].index)

In [15]:
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols = pd.DataFrame(OH_encoder.fit_transform(X[object_cols]))

# one-hot encoding removed index, put it back
OH_cols.index = X.index

# remove categorical columns 
num_X = X.drop(object_cols, axis=1)

# add one-hot encoded columns to numerical features
OH_X = pd.concat([num_X, OH_cols], axis=1)

In [16]:
X = OH_X
X.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,0,1,2,3,4,5,6
0,1,3.0,22.0,1.0,0.0,7.2500,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,2,1.0,38.0,1.0,0.0,71.2833,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3,3.0,26.0,0.0,0.0,7.9250,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,4,1.0,35.0,1.0,0.0,53.1000,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,5,3.0,35.0,0.0,0.0,8.0500,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [17]:
# normalizing data to improve KNN performance
X_normalized = scale(X)
X_train_try=pd.DataFrame(data=X_normalized,columns=X.columns)
X_train_try.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,0,1,2,3,4,5,6
0,-1.731736,0.829734,-0.528680,0.444095,-0.47368,-0.502918,-0.733527,0.751759,-0.106661,-0.480939,-0.307941,0.618532,-0.047485
1,-1.727845,-1.562485,0.572057,0.444095,-0.47368,0.785186,1.363276,-1.330214,-0.106661,2.079267,-0.307941,-1.616732,-0.047485
2,-1.723954,0.829734,-0.253496,-0.473012,-0.47368,-0.489340,1.363276,-1.330214,-0.106661,-0.480939,-0.307941,0.618532,-0.047485
3,-1.720063,-1.562485,0.365669,0.444095,-0.47368,0.419408,1.363276,-1.330214,-0.106661,-0.480939,-0.307941,0.618532,-0.047485
4,-1.716172,0.829734,0.365669,-0.473012,-0.47368,-0.486825,-0.733527,0.751759,-0.106661,-0.480939,-0.307941,0.618532,-0.047485

In [18]:
# imputing missing values

X_filled=KNNImputer(n_neighbors=7).fit_transform(X_train_try)
X_filled=pd.DataFrame(data=X_filled,columns=X.columns)

In [19]:
X_filled.columns=X.columns
X_filled.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,0,1,2,3,4,5,6
0,-1.731736,0.829734,-0.528680,0.444095,-0.47368,-0.502918,-0.733527,0.751759,-0.106661,-0.480939,-0.307941,0.618532,-0.047485
1,-1.727845,-1.562485,0.572057,0.444095,-0.47368,0.785186,1.363276,-1.330214,-0.106661,2.079267,-0.307941,-1.616732,-0.047485
2,-1.723954,0.829734,-0.253496,-0.473012,-0.47368,-0.489340,1.363276,-1.330214,-0.106661,-0.480939,-0.307941,0.618532,-0.047485
3,-1.720063,-1.562485,0.365669,0.444095,-0.47368,0.419408,1.363276,-1.330214,-0.106661,-0.480939,-0.307941,0.618532,-0.047485
4,-1.716172,0.829734,0.365669,-0.473012,-0.47368,-0.486825,-0.733527,0.751759,-0.106661,-0.480939,-0.307941,0.618532,-0.047485

In [20]:
# checking if all null values are removed
X_filled.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
0              0
1              0
2              0
3              0
4              0
5              0
6              0
dtype: int64

In [21]:
# sigmoid activation function
def sigmoid(x):
    return 1/(1 + np.exp(-x))

In [22]:
# cost function for gradient descent
def cost_function(theta,X, y, r):

    m, n = X.shape
    h = sigmoid(np.dot(X, theta))
    J = (-1/m) * (np.dot(y.T, np.log(h)) + np.dot((1 - y).T, np.log(1-h))) + (r * np.sum(theta))

    return J[0].astype(float).item()

In [23]:
# implementation of gradient descent algorithm  

def grad(X, y, theta, alpha, num_iters, r):
    # r - L1 regularization term
    costs = []
    # m - number of samples
    m = X.shape[0]
    
    for i in range(0, num_iters):
        
        z = np.dot(X, theta)
        
        h = sigmoid(z)
        costs.append(cost_function(theta, X, y, r))
        print(f"Iteration {i+1}: Cost {costs[i]}")
        theta = theta - ((alpha / m) * np.dot(X.T, h - y))
        

    return  theta

In [24]:
X = X_filled
np.random.seed(1)
m = X.shape[0]
n = X.shape[1]

theta = np.zeros((n,1))
Y_train.shape
# find optimum values for theta using gradient descent
theta = (grad(X, (Y_train), theta, 0.1, 500, 0.1))

# calculate cost using optimum theta values
J = cost_function(theta, X, Y_train, 0.1)
print(f"The cost after training in 500 iterations is {J}.")

Iteration 1: Cost 0.6931471805599453
Iteration 2: Cost 0.6859449978053688
Iteration 3: Cost 0.6788834092722247
Iteration 4: Cost 0.6719585029040525
Iteration 5: Cost 0.6651665100278841
Iteration 6: Cost 0.6585037990439261
Iteration 7: Cost 0.6519668694265429
Iteration 8: Cost 0.6455523460200777
Iteration 9: Cost 0.6392569736139555
Iteration 10: Cost 0.6330776117823809
Iteration 11: Cost 0.6270112299747297
Iteration 12: Cost 0.6210549028435179
Iteration 13: Cost 0.6152058057975316
Iteration 14: Cost 0.6094612107683932
Iteration 15: Cost 0.60381848217948
Iteration 16: Cost 0.5982750731067012
Iteration 17: Cost 0.5928285216212316
Iteration 18: Cost 0.5874764473048196
Iteration 19: Cost 0.5822165479288111
Iteration 20: Cost 0.5770465962884979
Iteration 21: Cost 0.5719644371848589
Iteration 22: Cost 0.5669679845461959
Iteration 23: Cost 0.5620552186825557
Iteration 24: Cost 0.5572241836662222
Iteration 25: Cost 0.552472984831925
Iteration 26: Cost 0.5477997863907363
Iteration 27: Cost 0.5432028091519674
Iteration 28: Cost 0.5386803283476681
Iteration 29: Cost 0.5342306715546187
Iteration 30: Cost 0.5298522167089891
Iteration 31: Cost 0.52554339020907
Iteration 32: Cost 0.5213026651017514
Iteration 33: Cost 0.5171285593486297
Iteration 34: Cost 0.5130196341678583
Iteration 35: Cost 0.5089744924480377
Iteration 36: Cost 0.5049917772306655
Iteration 37: Cost 0.5010701702578206
Iteration 38: Cost 0.49720839058194144
Iteration 39: Cost 0.49340519323472304
Iteration 40: Cost 0.4896593679523002
Iteration 41: Cost 0.48596973795405257
Iteration 42: Cost 0.4823351587724671
Iteration 43: Cost 0.4787545171316746
Iteration 44: Cost 0.4752267298723468
Iteration 45: Cost 0.47175074292080355
Iteration 46: Cost 0.4683255303002556
Iteration 47: Cost 0.4649500931822379
Iteration 48: Cost 0.4616234589763681
Iteration 49: Cost 0.45834468045667076
Iteration 50: Cost 0.45511283492279475
Iteration 51: Cost 0.45192702339452584
Iteration 52: Cost 0.44878636983809284
Iteration 53: Cost 0.4456900204228216
Iteration 54: Cost 0.44263714280677785
Iteration 55: Cost 0.4396269254501024
Iteration 56: Cost 0.4366585769547991
Iteration 57: Cost 0.4337313254298089
Iteration 58: Cost 0.43084441788025113
Iteration 59: Cost 0.4279971196197708
Iteration 60: Cost 0.4251887137049873
Iteration 61: Cost 0.42241850039107337
Iteration 62: Cost 0.4196857966075642
Iteration 63: Cost 0.4169899354535123
Iteration 64: Cost 0.41433026571116954
Iteration 65: Cost 0.4117061513774038
Iteration 66: Cost 0.4091169712120946
Iteration 67: Cost 0.4065621183027997
Iteration 68: Cost 0.40404099964500345
Iteration 69: Cost 0.4015530357372986
Iteration 70: Cost 0.399097660190886
Iteration 71: Cost 0.3966743193527943
Iteration 72: Cost 0.39428247194225735
Iteration 73: Cost 0.391921588699719
Iteration 74: Cost 0.38959115204794403
Iteration 75: Cost 0.3872906557647496
Iteration 76: Cost 0.3850196046668869
Iteration 77: Cost 0.38277751430463475
Iteration 78: Cost 0.38056391066667494
Iteration 79: Cost 0.3783783298948342
Iteration 80: Cost 0.376220318008324
Iteration 81: Cost 0.3740894306370891
Iteration 82: Cost 0.3719852327639214
Iteration 83: Cost 0.3699072984749933
Iteration 84: Cost 0.36785521071849175
Iteration 85: Cost 0.36582856107104217
Iteration 86: Cost 0.36382694951162364
Iteration 87: Cost 0.36184998420269565
Iteration 88: Cost 0.35989728127826054
Iteration 89: Cost 0.3579684646386081
Iteration 90: Cost 0.35606316575149105
Iteration 91: Cost 0.3541810234594906
Iteration 92: Cost 0.35232168379335077
Iteration 93: Cost 0.3504847997910584
Iteration 94: Cost 0.3486700313224608
Iteration 95: Cost 0.3468770449192271
Iteration 96: Cost 0.3451055136099454
Iteration 97: Cost 0.343355116760194
Iteration 98: Cost 0.3416255399173917
Iteration 99: Cost 0.33991647466026575
Iteration 100: Cost 0.33822761845277693
Iteration 101: Cost 0.33655867450234356
Iteration 102: Cost 0.3349093516222082
Iteration 103: Cost 0.3332793640978219
Iteration 104: Cost 0.33166843155708664
Iteration 105: Cost 0.3300762788443409
Iteration 106: Cost 0.32850263589795015
Iteration 107: Cost 0.32694723763138434
Iteration 108: Cost 0.32540982381766825
Iteration 109: Cost 0.3238901389770883
Iteration 110: Cost 0.3223879322680456
Iteration 111: Cost 0.3209029573809543
Iteration 112: Cost 0.3194349724350884
Iteration 113: Cost 0.3179837398782693
Iteration 114: Cost 0.3165490263893172
Iteration 115: Cost 0.31513060278316163
Iteration 116: Cost 0.3137282439185355
Iteration 117: Cost 0.31234172860816567
Iteration 118: Cost 0.3109708395313817
Iteration 119: Cost 0.3096153631490676
Iteration 120: Cost 0.3082750896208777
Iteration 121: Cost 0.30694981272465016
Iteration 122: Cost 0.30563932977795183
Iteration 123: Cost 0.304343441561675
Iteration 124: Cost 0.3030619522456442
Iteration 125: Cost 0.3017946693161511
Iteration 126: Cost 0.3005414035053689
Iteration 127: Cost 0.2993019687225873
Iteration 128: Cost 0.2980761819872099
Iteration 129: Cost 0.2968638633634685
Iteration 130: Cost 0.2956648358967913
Iteration 131: Cost 0.2944789255517871
Iteration 132: Cost 0.2933059611517878
Iteration 133: Cost 0.29214577431991173
Iteration 134: Cost 0.2909981994215971
Iteration 135: Cost 0.2898630735085607
Iteration 136: Cost 0.2887402362641517
Iteration 137: Cost 0.28762952995004787
Iteration 138: Cost 0.28653079935425685
Iteration 139: Cost 0.2854438917403928
Iteration 140: Cost 0.28436865679818474
Iteration 141: Cost 0.28330494659518624
Iteration 142: Cost 0.2822526155296445
Iteration 143: Cost 0.2812115202845069
Iteration 144: Cost 0.28018151978252614
Iteration 145: Cost 0.27916247514243364
Iteration 146: Cost 0.27815424963615165
Iteration 147: Cost 0.2771567086470187
Iteration 148: Cost 0.27616971962899617
Iteration 149: Cost 0.2751931520668318
Iteration 150: Cost 0.27422687743714835
Iteration 151: Cost 0.2732707691704426
Iteration 152: Cost 0.2723247026139617
Iteration 153: Cost 0.27138855499542996
Iteration 154: Cost 0.2704622053876179
Iteration 155: Cost 0.2695455346737145
Iteration 156: Cost 0.26863842551349015
Iteration 157: Cost 0.2677407623102253
Iteration 158: Cost 0.2668524311783921
Iteration 159: Cost 0.26597331991205797
Iteration 160: Cost 0.265103317953999
Iteration 161: Cost 0.26424231636550527
Iteration 162: Cost 0.2633902077968526
Iteration 163: Cost 0.2625468864584387
Iteration 164: Cost 0.2617122480925441
Iteration 165: Cost 0.26088618994572477
Iteration 166: Cost 0.26006861074180276
Iteration 167: Cost 0.2592594106554496
Iteration 168: Cost 0.25845849128634346
Iteration 169: Cost 0.2576657556338869
Iteration 170: Cost 0.25688110807246906
Iteration 171: Cost 0.2561044543272573
Iteration 172: Cost 0.25533570145051465
Iteration 173: Cost 0.2545747577984163
Iteration 174: Cost 0.2538215330083584
Iteration 175: Cost 0.2530759379767531
Iteration 176: Cost 0.2523378848372898
Iteration 177: Cost 0.25160728693964884
Iteration 178: Cost 0.25088405882866943
Iteration 179: Cost 0.25016811622394436
Iteration 180: Cost 0.24945937599984613
Iteration 181: Cost 0.24875775616596163
Iteration 182: Cost 0.24806317584793341
Iteration 183: Cost 0.24737555526869415
Iteration 184: Cost 0.24669481573008722
Iteration 185: Cost 0.2460208795948594
Iteration 186: Cost 0.24535367026902388
Iteration 187: Cost 0.24469311218457812
Iteration 188: Cost 0.24403913078257256
Iteration 189: Cost 0.24339165249651884
Iteration 190: Cost 0.24275060473613103
Iteration 191: Cost 0.24211591587139525
Iteration 192: Cost 0.24148751521694783
Iteration 193: Cost 0.24086533301677576
Iteration 194: Cost 0.24024930042920867
Iteration 195: Cost 0.239639349512212
Iteration 196: Cost 0.2390354132089702
Iteration 197: Cost 0.23843742533374657
Iteration 198: Cost 0.2378453205580241
Iteration 199: Cost 0.23725903439691387
Iteration 200: Cost 0.23667850319582423
Iteration 201: Cost 0.23610366411739114
Iteration 202: Cost 0.23553445512865712
Iteration 203: Cost 0.2349708149884961
Iteration 204: Cost 0.23441268323528003
Iteration 205: Cost 0.23386000017477765
Iteration 206: Cost 0.23331270686828348
Iteration 207: Cost 0.23277074512097218
Iteration 208: Cost 0.23223405747047338
Iteration 209: Cost 0.2317025871756544
Iteration 210: Cost 0.23117627820562187
Iteration 211: Cost 0.23065507522892154
Iteration 212: Cost 0.23013892360293942
Iteration 213: Cost 0.22962776936350315
Iteration 214: Cost 0.22912155921466976
Iteration 215: Cost 0.22862024051870383
Iteration 216: Cost 0.22812376128623996
Iteration 217: Cost 0.22763207016662457
Iteration 218: Cost 0.22714511643842944
Iteration 219: Cost 0.22666285000014186
Iteration 220: Cost 0.22618522136102437
Iteration 221: Cost 0.22571218163212914
Iteration 222: Cost 0.22524368251748683
Iteration 223: Cost 0.2247796763054416
Iteration 224: Cost 0.22432011586014938
Iteration 225: Cost 0.22386495461321998
Iteration 226: Cost 0.22341414655551306
Iteration 227: Cost 0.22296764622907295
Iteration 228: Cost 0.22252540871921062
Iteration 229: Cost 0.22208738964671992
Iteration 230: Cost 0.22165354516023356
Iteration 231: Cost 0.22122383192870948
Iteration 232: Cost 0.2207982071340474
Iteration 233: Cost 0.220376628463836
Iteration 234: Cost 0.21995905410421956
Iteration 235: Cost 0.21954544273289323
Iteration 236: Cost 0.21913575351221337
Iteration 237: Cost 0.21872994608242874
Iteration 238: Cost 0.21832798055502445
Iteration 239: Cost 0.21792981750617785
Iteration 240: Cost 0.21753541797032944
Iteration 241: Cost 0.2171447434338561
Iteration 242: Cost 0.2167577558288556
Iteration 243: Cost 0.21637441752702863
Iteration 244: Cost 0.21599469133367266
Iteration 245: Cost 0.21561854048176388
Iteration 246: Cost 0.21524592862614667
Iteration 247: Cost 0.2148768198378116
Iteration 248: Cost 0.2145111785982744
Iteration 249: Cost 0.21414896979403947
Iteration 250: Cost 0.21379015871116241
Iteration 251: Cost 0.2134347110298927
Iteration 252: Cost 0.21308259281940795
Iteration 253: Cost 0.2127337705326337
Iteration 254: Cost 0.21238821100114436
Iteration 255: Cost 0.2120458814301464
Iteration 256: Cost 0.21170674939354472
Iteration 257: Cost 0.2113707828290834
Iteration 258: Cost 0.2110379500335684
Iteration 259: Cost 0.2107082196581609
Iteration 260: Cost 0.21038156070374947
Iteration 261: Cost 0.21005794251639387
Iteration 262: Cost 0.20973733478283962
Iteration 263: Cost 0.20941970752610178
Iteration 264: Cost 0.20910503110112133
Iteration 265: Cost 0.20879327619048577
Iteration 266: Cost 0.20848441380021765
Iteration 267: Cost 0.20817841525562697
Iteration 268: Cost 0.2078752521972297
Iteration 269: Cost 0.20757489657672662
Iteration 270: Cost 0.20727732065304394
Iteration 271: Cost 0.20698249698843724
Iteration 272: Cost 0.20669039844465242
Iteration 273: Cost 0.20640099817914342
Iteration 274: Cost 0.2061142696413495
Iteration 275: Cost 0.2058301865690294
Iteration 276: Cost 0.20554872298464744
Iteration 277: Cost 0.20526985319181568
Iteration 278: Cost 0.2049935517717924
Iteration 279: Cost 0.2047197935800223
Iteration 280: Cost 0.20444855374274495
Iteration 281: Cost 0.2041798076536352
Iteration 282: Cost 0.20391353097050574
Iteration 283: Cost 0.20364969961205437
Iteration 284: Cost 0.20338828975465661
Iteration 285: Cost 0.20312927782920853
Iteration 286: Cost 0.20287264051801623
Iteration 287: Cost 0.2026183547517263
Iteration 288: Cost 0.2023663977063047
Iteration 289: Cost 0.2021167468000553
Iteration 290: Cost 0.20186937969068874
Iteration 291: Cost 0.20162427427242496
Iteration 292: Cost 0.20138140867314208
Iteration 293: Cost 0.20114076125156433
Iteration 294: Cost 0.20090231059449093
Iteration 295: Cost 0.20066603551406503
Iteration 296: Cost 0.20043191504507757
Iteration 297: Cost 0.20019992844231582
Iteration 298: Cost 0.1999700551779412
Iteration 299: Cost 0.1997422749389109
Iteration 300: Cost 0.19951656762443243
Iteration 301: Cost 0.1992929133434515
Iteration 302: Cost 0.19907129241218174
Iteration 303: Cost 0.19885168535166042
Iteration 304: Cost 0.19863407288534513
Iteration 305: Cost 0.19841843593673852
Iteration 306: Cost 0.1982047556270477
Iteration 307: Cost 0.1979930132728756
Iteration 308: Cost 0.19778319038394754
Iteration 309: Cost 0.19757526866086123
Iteration 310: Cost 0.19736922999287337
Iteration 311: Cost 0.1971650564557152
Iteration 312: Cost 0.19696273030943495
Iteration 313: Cost 0.19676223399627374
Iteration 314: Cost 0.19656355013856663
Iteration 315: Cost 0.19636666153667398
Iteration 316: Cost 0.19617155116693785
Iteration 317: Cost 0.19597820217967188
Iteration 318: Cost 0.19578659789716735
Iteration 319: Cost 0.19559672181173643
Iteration 320: Cost 0.1954085575837758
Iteration 321: Cost 0.195222089039857
Iteration 322: Cost 0.19503730017084253
Iteration 323: Cost 0.19485417513002407
Iteration 324: Cost 0.1946726982312909
Iteration 325: Cost 0.19449285394731608
Iteration 326: Cost 0.19431462690776957
Iteration 327: Cost 0.19413800189755392
Iteration 328: Cost 0.19396296385506384
Iteration 329: Cost 0.19378949787046557
Iteration 330: Cost 0.19361758918400296
Iteration 331: Cost 0.19344722318432028
Iteration 332: Cost 0.1932783854068108
Iteration 333: Cost 0.19311106153198687
Iteration 334: Cost 0.19294523738386088
Iteration 335: Cost 0.1927808989283658
Iteration 336: Cost 0.1926180322717791
Iteration 337: Cost 0.19245662365917066
Iteration 338: Cost 0.19229665947287755
Iteration 339: Cost 0.1921381262309897
Iteration 340: Cost 0.1919810105858576
Iteration 341: Cost 0.1918252993226197
Iteration 342: Cost 0.1916709793577498
Iteration 343: Cost 0.191518037737618
Iteration 344: Cost 0.1913664616370715
Iteration 345: Cost 0.1912162383580367
Iteration 346: Cost 0.19106735532813357
Iteration 347: Cost 0.1909198000993092
Iteration 348: Cost 0.1907735603464913
Iteration 349: Cost 0.1906286238662518
Iteration 350: Cost 0.19048497857549385
Iteration 351: Cost 0.19034261251014917
Iteration 352: Cost 0.1902015138238975
Iteration 353: Cost 0.19006167078689573
Iteration 354: Cost 0.18992307178452472
Iteration 355: Cost 0.18978570531615546
Iteration 356: Cost 0.18964955999392208
Iteration 357: Cost 0.18951462454151669
Iteration 358: Cost 0.18938088779299855
Iteration 359: Cost 0.1892483386916114
Iteration 360: Cost 0.18911696628862273
Iteration 361: Cost 0.18898675974217194
Iteration 362: Cost 0.1888577083161349
Iteration 363: Cost 0.18872980137899908
Iteration 364: Cost 0.18860302840275844
Iteration 365: Cost 0.18847737896181405
Iteration 366: Cost 0.18835284273189157
Iteration 367: Cost 0.18822940948897404
Iteration 368: Cost 0.1881070691082405
Iteration 369: Cost 0.18798581156302407
Iteration 370: Cost 0.18786562692377762
Iteration 371: Cost 0.18774650535705906
Iteration 372: Cost 0.18762843712451283
Iteration 373: Cost 0.18751141258188397
Iteration 374: Cost 0.18739542217802796
Iteration 375: Cost 0.18728045645393887
Iteration 376: Cost 0.18716650604178842
Iteration 377: Cost 0.1870535616639748
Iteration 378: Cost 0.18694161413218346
Iteration 379: Cost 0.18683065434645796
Iteration 380: Cost 0.1867206732942851
Iteration 381: Cost 0.18661166204968438
Iteration 382: Cost 0.18650361177231334
Iteration 383: Cost 0.18639651370658084
Iteration 384: Cost 0.1862903591807733
Iteration 385: Cost 0.186185139606184
Iteration 386: Cost 0.18608084647626377
Iteration 387: Cost 0.1859774713657686
Iteration 388: Cost 0.18587500592992667
Iteration 389: Cost 0.18577344190361222
Iteration 390: Cost 0.18567277110052438
Iteration 391: Cost 0.18557298541238443
Iteration 392: Cost 0.18547407680813133
Iteration 393: Cost 0.18537603733313512
Iteration 394: Cost 0.18527885910841713
Iteration 395: Cost 0.18518253432987408
Iteration 396: Cost 0.18508705526751812
Iteration 397: Cost 0.18499241426471957
Iteration 398: Cost 0.18489860373746436
Iteration 399: Cost 0.18480561617361135
Iteration 400: Cost 0.18471344413216662
Iteration 401: Cost 0.18462208024255977
Iteration 402: Cost 0.18453151720393224
Iteration 403: Cost 0.1844417477844318
Iteration 404: Cost 0.18435276482051288
Iteration 405: Cost 0.1842645612162499
Iteration 406: Cost 0.18417712994265245
Iteration 407: Cost 0.1840904640369928
Iteration 408: Cost 0.18400455660213777
Iteration 409: Cost 0.18391940080588975
Iteration 410: Cost 0.18383498988033342
Iteration 411: Cost 0.1837513171211933
Iteration 412: Cost 0.1836683758871902
Iteration 413: Cost 0.1835861595994166
Iteration 414: Cost 0.18350466174070756
Iteration 415: Cost 0.18342387585502606
Iteration 416: Cost 0.18334379554685198
Iteration 417: Cost 0.18326441448057718
Iteration 418: Cost 0.18318572637991015
Iteration 419: Cost 0.18310772502728445
Iteration 420: Cost 0.18303040426327366
Iteration 421: Cost 0.18295375798601288
Iteration 422: Cost 0.18287778015063005
Iteration 423: Cost 0.182802464768677
Iteration 424: Cost 0.1827278059075722
Iteration 425: Cost 0.18265379769004675
Iteration 426: Cost 0.1825804342935976
Iteration 427: Cost 0.18250770994994514
Iteration 428: Cost 0.182435618944498
Iteration 429: Cost 0.1823641556158232
Iteration 430: Cost 0.18229331435512164
Iteration 431: Cost 0.1822230896057111
Iteration 432: Cost 0.18215347586251052
Iteration 433: Cost 0.18208446767153597
Iteration 434: Cost 0.18201605962939416
Iteration 435: Cost 0.1819482463827895
Iteration 436: Cost 0.18188102262803174
Iteration 437: Cost 0.18181438311054854
Iteration 438: Cost 0.181748322624405
Iteration 439: Cost 0.1816828360118281
Iteration 440: Cost 0.18161791816273565
Iteration 441: Cost 0.18155356401427025
Iteration 442: Cost 0.18148976855033905
Iteration 443: Cost 0.18142652680115434
Iteration 444: Cost 0.1813638338427872
Iteration 445: Cost 0.18130168479671882
Iteration 446: Cost 0.18124007482939664
Iteration 447: Cost 0.18117899915180036
Iteration 448: Cost 0.1811184530190061
Iteration 449: Cost 0.18105843172976155
Iteration 450: Cost 0.18099893062605965
Iteration 451: Cost 0.1809399450927217
Iteration 452: Cost 0.18088147055698023
Iteration 453: Cost 0.18082350248807066
Iteration 454: Cost 0.18076603639682354
Iteration 455: Cost 0.1807090678352642
Iteration 456: Cost 0.180652592396213
Iteration 457: Cost 0.18059660571289193
Iteration 458: Cost 0.18054110345853702
Iteration 459: Cost 0.18048608134601274
Iteration 460: Cost 0.1804315351274257
Iteration 461: Cost 0.18037746059375426
Iteration 462: Cost 0.1803238535744699
Iteration 463: Cost 0.18027070993716798
Iteration 464: Cost 0.180218025587203
Iteration 465: Cost 0.1801657964673261
Iteration 466: Cost 0.180114018557326
Iteration 467: Cost 0.1800626878736743
Iteration 468: Cost 0.1800118004691752
Iteration 469: Cost 0.17996135243261613
Iteration 470: Cost 0.179911339888425
Iteration 471: Cost 0.1798617589963284
Iteration 472: Cost 0.1798126059510179
Iteration 473: Cost 0.17976387698181218
Iteration 474: Cost 0.1797155683523296
Iteration 475: Cost 0.17966767636016057
Iteration 476: Cost 0.17962019733654255
Iteration 477: Cost 0.1795731276460436
Iteration 478: Cost 0.17952646368624214
Iteration 479: Cost 0.17948020188741454
Iteration 480: Cost 0.1794343387122238
Iteration 481: Cost 0.17938887065541265
Iteration 482: Cost 0.17934379424349967
Iteration 483: Cost 0.17929910603447785
Iteration 484: Cost 0.1792548026175167
Iteration 485: Cost 0.17921088061266455
Iteration 486: Cost 0.17916733667055984
Iteration 487: Cost 0.17912416747214166
Iteration 488: Cost 0.17908136972836064
Iteration 489: Cost 0.17903894017989774
Iteration 490: Cost 0.17899687559688315
Iteration 491: Cost 0.1789551727786184
Iteration 492: Cost 0.17891382855330262
Iteration 493: Cost 0.1788728397777557
Iteration 494: Cost 0.17883220333715522
Iteration 495: Cost 0.1787919161447662
Iteration 496: Cost 0.17875197514167562
Iteration 497: Cost 0.17871237729653455
Iteration 498: Cost 0.17867311960529664
Iteration 499: Cost 0.17863419909096223
Iteration 500: Cost 0.17859561280332525
The cost after training in 500 iterations is 0.1785573578187214.